doctype html
html
  head
    style.
      body {
        font-family: Arial, sans-serif;
      }
      .header {
        background-color: #001439;
        padding: 20px;
        text-align: center;
        color: white;
      }
      .content {
        padding: 20px;
        color: black;
      }
      .footer {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        color: #888;
      }
  body
    .header
      h1 Welcome to Teleconsultation-IoncoSolutions
    .content
      p Hi Dr. #{firstName},
      p Thank you for registering with us. We are thrilled to have you onboard as part of our team! Your expertise and dedication are invaluable, and we are confident that you will make a significant impact. We look forward to working together and providing excellent care to our patients
      p Best Regards,
      p Teleconsultation-IoncoSolutions
    .footer
      p &copy; #{year} Teleconsultation-IoncoSolutions. All Rights Reserved.
