doctype html
html
  head
    style.
      body {
        font-family: Arial, sans-serif;
      }
      .header {
        background-color: #001439;
        padding: 20px;
        text-align: center;
        color: white;
      }
      .content {
        padding: 20px;
        color: black;
      }
      .footer {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        color: #888;
      }
  body
    .header
      h1 Welcome to Teleconsultation-IoncoSolutions
    .content
      p Hello #{firstName},
      p Thank you for registering with us. We're excited to have you join our community! Our platform is designed to provide you with seamless access to high-quality healthcare services from the comfort of your home. Whether you're looking for a consultation with a specialist, managing your health records, or simply seeking advice, we're here to support you every step of the way. Your well-being is our top priority, and we are committed to offering you the best possible care. We look forward to helping you achieve better health outcomes and a more convenient healthcare experience. 
      p Best Regards,
      p Teleconsultation-IoncoSolutions
    .footer
      p &copy; #{year} Teleconsultation-IoncoSolutions. All Rights Reserved.
